*~
*#*
lib/*
config/insta.conf
db/schema.rb
classes/*
fe/classes/*
api/classes/*
.clojure.conf
.classpath
.project
.lein-deps-sum
.lein-plugins
config/config.clj
scripts/furtive
logs/*
log/*
.DS_Store
*flymake.js
all.js
furtive.iml
.idea
.lein-failures
api/lib/*
/api/.lein-failures
/api/pom.xml
/api/config/zolo.clj
